build
*.exe
.vs
.vscode/*
data/*

disksnap.zip
compile.bat
2025-code-craft-preliminary
run.bat
rundebug.bat
code_craft.exe
result.txt
debug.txt
code_craft.ilk
code_craft.pdb
code_craft.exe.orig
code_craft.instr.pdb
sorce_info.txt
